.row .thumbnail {
    border:1;
    box-shadow:0;
    border-radius:1;
    background-color:transparent;  
    background: transparent;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; 
}



